@model IEnumerable<EstateAgents.Models.PropertyModel>
@{
    ViewData["Title"] = "Admin Dashboard";
}


<div class="container">
    <h1>Admin Dashboard</h1>
    <p class="mb-3">Welcome, Admin! Below is your dashboard.</p>


    <div class="row">
        <div class="col mx-2">
            <div class="row">
                <div class="col h-auto bg-white shadow-lg rounded-3 mb-3">
                    <h2>Recent New Accounts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col h-auto bg-white shadow-lg rounded-3">
                    <h2>Current Roles</h2>
                </div>
            </div>
        </div>
        <div class="col h-auto bg-white shadow-lg mx-2 rounded-3">
            <h2>Manage Properties</h2>
            <a class="btn btn-custom w-50" asp-controller="Property" asp-action="Create">Add New Property</a>
            <h3>Current Properties</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Address</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var property in Model){
                        <tr>
                            <td class="fw-bold">@property.Id</td>
                            <td class="fw-bold">@property.Title</td>
                            <td class="fw-bold">@property.PropertyType</td>
                            <td class="fw-bold">@property.Address</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@property.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@property.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>